<div class="login-container">
  <div class="logo">Rotten Potatoes</div>
  <div class="desc">This famous esculent—the most agreeable and nutritious vegetable which decorates the Celtic table or the American board, which is to the Irish peasant what corn is to the Western emigrant—has been for some time subject to a dire disease, emphatically known as the Kotscription

  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" name="uname" class="form-control" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input type="password" name="pword" class="form-control" [(ngModel)]="password">
    </div>
    <div class="btn-container">
      <div class="error"> {{errorMsg}} </div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
